<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#ArrendatariosList">Arrendatarios</a>
      <a mat-list-item href="#PropietariosList">Propietarios</a>
      <a mat-list-item href="#PagosList">Pagos</a>
      <a mat-list-item href="#ProyectosList">Proyectos</a>
      <a mat-list-item href="#ArriendosList">Arriendos</a>
      <a mat-list-item href="#InmueblesList">Inmuebles</a>
      <a mat-list-item href="#ArreglosLocativosList">Arreglos Locativos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CrMercantilFront</span>
    </mat-toolbar>
    <div class="componentes">
      <app-arrendatarios-read id="ArrendatariosList"></app-arrendatarios-read>
      <app-propietarios-read id="PropietariosList"></app-propietarios-read>
      <app-pagos id="PagosList"></app-pagos>
      <app-proyectos id="ProyectosList"></app-proyectos>
      <app-arriendo id="ArriendosList"></app-arriendo>
      <app-inmueble id="InmueblesList"></app-inmueble>
      <app-arreglos-locativos id="ArreglosLocativosList"></app-arreglos-locativos>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
